<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Handle React Router routes (Redirect all non-file/non-directory requests to index.html)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
